html, body {
  overflow: hidden;
}

.input {
  font-size: 15px;
  width: 100px;
  height: 20px;
}

.button {
  padding: 10px 10px;
  border-radius: 10px;
  background: #3a5d9c;
  cursor: pointer;
  font-size: 15px;
  color: white;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding: 10px;
}

.task {
  font-size: 15px;
  width: 100px;
  height: 20px;
  background: #c8f1ff;
  padding: 4px 5px;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
}

.xbox-button {
  background: white;
  border: 2;
  color: red;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
  font-size: 14px;
}

.pet {
  width: 200px;      
  height: 240px;      
  object-fit: contain; 
  flex-shrink: 0;
  cursor: "grab"
}

.stressedpet0 {
  width: 200px;      
  height: 240px;      
  object-fit: contain; 
  flex-shrink: 0;
  cursor: "grab"
}

.stressedpet1 {
  width: 200px;      
  height: 240px;      
  object-fit: contain; 
  flex-shrink: 0;
  cursor: "grab"
}

.stressedpet2 {
  width: 200px;      
  height: 215px;      
  object-fit: contain; 
  flex-shrink: 0;
  cursor: "grab"
}

.stressedpet3 {
  width: 200px;      
  height: 185px;      
  object-fit: contain; 
  flex-shrink: 0;
  cursor: "grab"
}

.stressedpet4 {
  width: 270px;   
  object-fit: contain; 
  flex-shrink: 0;
  cursor: "grab"
}
